Handling series consistently

This concerns rfcsubseries and Internet Drafts, and whether we need a “concrete” bibliographic item (and corresponding entity in BibXML service) for the purposes of citing/linking.

There seem to be two overall strategic choices:

1. We do not treat everything that can be referenced as separate bibliographic items; we only do that for individual documents. (rfcsubseries will no longer exist, and BibXML service will infer what’s required and allow easier navigation across series.)
2. We treat RFC subseries as individual bibliographic items if required for citing, and treat other cases (other series, unversioned Internet Drafts, etc.) the same way, creating individual bibliographic items for each.

In favor of 1:

- All rfcsubseries data seem to be possible to infer from RFC data, they don’t seem to have anything more than links to contained RFCs (not even a title) and RFCs already [reference subseries](https://github.com/ietf-ribose/relaton-data-rfcs/blob/main/data/RFC1155.yaml#L88) via the `series` property.
- There is no [bibliographic item type](https://github.com/relaton/relaton-models/blob/main/grammars/biblio.rnc#L247) called “series”. Currently, we classify each rfcsubseries entry as “standard” (?).
- Presumably, one can link to an RFC subseries without it being its own bibliographic item. (E.g., one could link to an unversioned Internet Draft, which we currently do not treat as separate bibliographic items.)

In favor of 2:

- If we must have a concrete bibliographic item for the purposes of referencing/citing? In that case, we should keep rfcsubseries as is, but we also should treat this way other series and unversioned Internet Drafts.

This has implications for BibXML service architecture and general clarity of Relaton model.

The rfc-subseries files are derived directly from the data for them in rfc-index.xml:


`

    < bcp-entry>
        < doc-id>BCP0006</doc-id>
        < is-also>
            < doc-id>RFC1930</doc-id>
            < doc-id>RFC6996</doc-id>
            < doc-id>RFC7300</doc-id>
        < /is-also>
    < /bcp-entry>


    < fyi-entry>
        <doc-id>FYI0002</doc-id>
        <is-also>
            <doc-id>RFC1470</doc-id>
        </is-also>
    </fyi-entry>


    < std-entry>
        <doc-id>STD0093</doc-id>
        <title>Secret Key Transaction Authentication for DNS (TSIG)</title>
        <is-also>
            <doc-id>RFC8945</doc-id>
        </is-also>
    </std-entry>
`

which gets converted directly into a `<referencegroup>`.

Unfortunately the xml2rfc v3 vocabulary does not have a way to specify the title of the subseries, as STD0093 has above. (@rjsparks, this might be worthy of bringing up in another forum, as I think the `<referencegroup>` really SHOULD have a way to express the title.)

(wikiformat is really messing up my example above. I had to use not-quite-correct XML in it to work around it.)

(@TonyLHansen I've updated your message to show the correct formatting; the source code block in GitHub Markdown uses 3 backticks to delimit the block, 1 backtick won't work)

I would say that both options are not accurate but option 2 is closer to the correct one.

The BCP/STD/FYI entries are actually individual bibliographic items themselves. The BCP/STD/FYI references `<is-also>` to RFCs are "bibliographic relationships", they indicate that the particular BCP/STD/FYI information resource "is also" realised as an RFC, not that they contains some RFCs. A BCP/STD/FYI entry is technically not a collection of information resources.

The fact that a BCP/STD/FYI entry sometimes "inherits" the document title of an `is-also` RFC is an implementation detail.

It is worth noting that 1 is a similar  situation to that of dated/undated references. When a BCP is cited, the reader is always referring this citation to the "latest BCP `<is-also>` RFC". Not the particular latest RFC linked to that BCP at publication time.


From my somewhat removed perspective as BibXML service engineer:

- The fact that `<referencegroup>` doesn’t have a title pointed in the direction of simplifying bibliographic data sources: meaning, this BibXML service could dynamically construct and return a valid item (which in case of XML would be a `<referencegroup>`) for _any_ series by querying indexed documents by their “series” property.
- However, @TonyLHansen’s point that a series _could_ have a title—if that title could not be inferred from constituent documents—points in the direction of keeping series standalone.
- We could combine both of the above, making bibliographic data sources responsible for providing items for series that have own metadata (e.g., title, status, etc.), while also having BibXML service dynamically generate a reference group for any requested series by aggregating documents. Not sure if that’s unnecessarily complex.

What I find a bit awkward is the redundant two-way relation in our current bibliographic data sources: each of rfcsubseries relates to all constituent RFCs (and has no other metadata), while each of the RFCs also references the series.

@ronaldtse, do we consider other series (such as [W3C REC](https://dev.bibxml.org/search/?bypass_cache=1&query=%24.series%5B*%5D.title.content+%3D%3D+%22W3C+REC%22&query_format=json_path) as not directly citeable (unlike rfcsubseries), or should we generate individual bibliographic items for them too?

> do we consider other series (such as [W3C REC](https://dev.bibxml.org/search/?bypass_cache=1&query=%24.series%5B*%5D.title.content+%3D%3D+%22W3C+REC%22&query_format=json_path)) as not directly citeable (unlike rfcsubseries), or should we generate individual bibliographic items for them too?

@strogonoff technically in the ISO 690 citation world, nearly every resource is citable: a document, a series of documents, etc. However, the BibXML service can only support a limited subset of that, and the BibXML series is not aiming to support ISO 690.

I think we take the following approach:
1. RFCs are individually citable, and we provide bibliographic data for.
2. RFC subseries entries (a BCP, STD or FYI) are citable, and we provide bibliographic data for.
3. The "RFC series" or a "RFC subseries" (the whole series) may be citable but the service will not provide individual bibliographic items for.
4. Individual documents in other series are citable, we provide individual bibliographic data for.
5. Other series are not citable in the IETF world (e.g. an IETF document will not cite the "full W3C REC" series), so we do not provide individual bibliographic data for those series.

@TonyLHansen 
> Unfortunately the xml2rfc v3 vocabulary does not have a way to specify the title of the subseries, as STD0093 has above. (@rjsparks, this might be worthy of bringing up in another forum, as I think the <referencegroup> really SHOULD have a way to express the title.)
I asked the CMT about this, and the RFC Editor doesn't actually use the titles for STDs and recommend that they stop appearing in the rfc-index.xml object. See https://mailarchive.ietf.org/arch/msg/xml-sg-cmt/awXIuazXRNDNTYZ2Sr5HH-hYla0/


@strogonoff @ronaldtse  - One of the features of subseries like BCP and STD is that the constituent RFCs can change over time. Note the dates in the RFCs that are part of https://www.rfc-editor.org/info/bcp9.
 

> One of the features of subseries like BCP and STD is that the constituent RFCs can change over time. Note the dates in the RFCs that are part of https://www.rfc-editor.org/info/bcp9.

Thanks for the clarification, this makes sense. 

My 2 cents:

1. I think it would be good if RFC series actually *had* a title.
2. That said, referenceGroup should be usable for reference groups from other SDOs as well, and as such, of course, should allow inclusion of a title.

Thanks @reschke for the suggestion and I agree. If we do allow giving a title to the "RFC series", which makes it citable, then the individual RFC subseries (BCP, STD, FYI) could also have titles, making them citable as well.

Yes. I just wanted to clarify that there are two questions: whether IETF series should have a title, and whether the *vocabulary* should *allow* having a title (which would be useful for document series from other publishers) - for references, we really should minimize vocabulary features that somewhat are special to the IETF.

> > One of the features of subseries like BCP and STD is that the constituent RFCs can change over time. Note the dates in the RFCs that are part of https://www.rfc-editor.org/info/bcp9.
> 
> Thanks for the clarification, this makes sense.

@ronaldtse  Doesn’t that hint at dynamic series generation, instead of pre-generating fixed items for rfcsubseries? At any given moment in time, whichever RFC documents reference a given series (via Relaton’s `BibliographicItem.series` property), the service would filter and return those. Or is your concern implementation complexity?

rfcsubseries was intended to be dynamic

I'm fine with regenerating the subseries on a cron schedule (as it is currently done). We can also consider poking an API whenever a subseries element changes.

This needs to wrap up very soon - what information can I provide to help bring us closer to being ready to hand-over?

Closing this issue per discussion with Ronald and Nick. Relaton datasets may be introducing more series later, but for now there’s no change in series handling.